# Pyber Challenge

### 4.3 Loading and Reading CSV files

In [58]:
# Add Matplotlib inline magic command
%matplotlib inline

# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd

# File to Load (Remember to change these)
city_data_to_load = "Resources/city_data.csv"
ride_data_to_load = "Resources/ride_data.csv"

# Read the City and Ride Data
city_data_df = pd.read_csv(city_data_to_load)
ride_data_df = pd.read_csv(ride_data_to_load)

### Merge the DataFrames

In [59]:
# Combine the data into a single dataset
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])

# Display the data table for preview
pyber_data_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban

## Deliverable 1: Get a Summary DataFrame

In [62]:
#  1. Get the total rides for each city type
#urban_cities_df = pyber_data_df[pyber_data_df["type"] == "Urban"]
#suburban_cities_df = pyber_data_df[pyber_data_df['type'] == 'Suburban']
#rural_total_cities_df = pyber_data_df[pyber_data_df['type'] == 'Rural']

urban_total_rides = pyber_data_df[pyber_data_df['type'] == 'Urban'].count()['ride_id']
suburban_total_rides  = pyber_data_df[pyber_data_df['type'] == 'Suburban'].count()['ride_id']
rural_total_rides = pyber_data_df[pyber_data_df['type'] == 'Rural'].count()['ride_id']


#urban_total_rides = urban_cities_df.grouby(['type'] == 'Urban').count()['ride_id']
#suburban_total_rides = suburban_cities_df.groupby(['type'] == 'Suburban').count()['ride_id']
#rural_total_rides = rural_cities_df.groupby('[type]' == 'Rural').count()['ride_id']

In [47]:
# 2. Get the total drivers for each city type
urban_driver_count = city_data_df.groupby(['type'] == 'Urban').sum()['driver_count']

KeyError: False

In [33]:
#  3. Get the total amount of fares for each city type
urban_total_fare = urban_cities_df.groupby(["city"]).sum()["fare"]
suburban_total_fare = suburban_cities_df.groupby(['city']).sum()['fare']
rural_total_fare = rural_cities_df.groupby(['city']).sum()['fare']

In [34]:
#  4. Get the average fare per ride for each city type. 
urban_avg_fare = urban_cities_df.groupby(["city"]).mean()["fare"]
suburban_avg_fare = suburban_cities_df.groupby(['city']).mean()['fare']
rural_avg_fare = rural_cities_df.groupby(['city']).mean()['fare']

In [37]:
# 5. Get the average fare per driver for each city type. 
urban_avg_fare_per_driver = urban_avg_fare / urban_driver_count
suburban_avg_fare_per_driver = suburban_avg_fare / suburban_driver_count
rural_avg_fare_per_driver = rural_avg_fare / rural_driver_count

In [8]:
#  6. Create a PyBer summary DataFrame. 

summary_data = {'Type': ['Urban', 'Suburban', 'Rural']
                'Total Rides': [total_]}

In [9]:
#  7. Cleaning up the DataFrame. Delete the index name
pyber_summary_df.index.name = None

In [10]:
#  8. Format the columns.

## Deliverable 2.  Create a multiple line plot that shows the total weekly of the fares for each type of city.

In [11]:
# 1. Read the merged DataFrame

In [12]:
# 2. Using groupby() to create a new DataFrame showing the sum of the fares 
#  for each date where the indices are the city type and date.

In [13]:
# 3. Reset the index on the DataFrame you created in #1. This is needed to use the 'pivot()' function.
# df = df.reset_index()

In [14]:
# 4. Create a pivot table with the 'date' as the index, the columns ='type', and values='fare' 
# to get the total fares for each type of city by the date.

In [15]:
# 5. Create a new DataFrame from the pivot table DataFrame using loc on the given dates, '2019-01-01':'2019-04-29'.

In [16]:
# 6. Set the "date" index to datetime datatype. This is necessary to use the resample() method in Step 8.
# df.index = pd.to_datetime(df.index)

In [17]:
# 7. Check that the datatype for the index is datetime using df.info()

In [18]:
# 8. Create a new DataFrame using the "resample()" function by week 'W' and get the sum of the fares for each week.

In [19]:
# 8. Using the object-oriented interface method, plot the resample DataFrame using the df.plot() function. 

# Import the style from Matplotlib.
from matplotlib import style
# Use the graph style fivethirtyeight.
style.use('fivethirtyeight')